
@media screen and (min-width: @desktop-width){

   .product {
        display: flex;
        justify-content: space-around;
        gap: 125px;
        margin: @desktop-space*1.5;
        align-items: center;
   }
}