.info {
    margin: @mobile-space;
    margin-bottom: @desktop-space;
}

.info__brand {
    display: block;
    color: @orange;
    text-transform: uppercase;
    font-weight: @font-b;
    letter-spacing: 2px;
    font-size: 13px;
    margin-bottom: 24px;
}

.info__name {
    text-transform: capitalize;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: @font-b;
    margin-bottom: 32px;
}

.info__description {
    color: @dark-grayish-blue;
    font-weight: @font-s;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 28px;
}

.info__price {
    font-weight: @font-b; 
    font-size: 28px;
}


.info__discount {
    font-size: 16px;
    color: @orange;
    font-weight: @font-b;
    margin: 0 @mobile-space;
    padding: 2px 8px;
    background: @pale-orange;
    border-radius: @border-r;
}
.info__amount {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 32px;
}

.info__rawprice {
    color: @grayish-blue;
    font-weight: @font-b;
}

.info__quantity {
    background-color: @light-grayish-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 @mobile-space;
    border-radius: @border-r*2;
    font-weight: @font-b;
    margin: @mobile-space*1.5 auto;
    height: 56px;

    button:active {
            opacity: 0.25;
    }
}

.info__reduce{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info__cart {
    color: @white;
    background: @orange;
    font-weight: @font-b;
    padding: @mobile-space;
    border-radius: @border-r*2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: @mobile-space;
    box-shadow: 0px @mobile-space*1.5 @mobile-space*1.5 @pale-orange;
    width: 100%;
    height: 56px;
    cursor: pointer;

}

.info__cart:active {
    opacity: 0.25;

}


@media screen and (min-width: @mobile-width) {
    .info__amount {
      flex-direction: column;
      row-gap: @mobile-space*0.5;
    }

    .info__controller {
    
      display: flex;
      column-gap: @mobile-space;
    }

    .info__quantity {
      margin: 0;
      width: 140px;
      padding: 0 8px;
    }

    .info__cart {
      width: 272px;
    }

    .info__name {
        font-size: 44px;
        line-height: 48px;
    }

    .info {
        display: flex;
        flex-flow: column;
        margin: 0;
    }
}