.gallery__mainPic {
  cursor: pointer;
  pointer-events: none;
}

.thumbnail {
  background: @white;
}

.gallery__thumbnails {
  display: none;
}

.gallery__main {
  position: relative;
}

.gallery__buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 90%;
  left: 5%;
  top: 45%;
}

.gallery__button {
  background: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  * {
    pointer-events: none;
  }  
}

@media screen and (min-width: @desktop-width)  {
  .gallery__mainPic{
    pointer-events:initial;
  }
    
.gallery {
  width: 100%;
  display: flex;
  flex-flow: column;
  row-gap: @desktop-space/2;
}

.gallery__thumbnails {
  display: flex;
  gap: @desktop-space/2;
  align-items: center;
  justify-content: center;
}

.gallery__main {
    img {
        border-radius: @border-r*4;
    }
}

.thumbnail {
    display: inline-flex;  
    border-radius: @border-r*2;
    border-color: @orange;
    border-style: solid;
    border-width: 0px;
    cursor: pointer;

    img {
        border-radius: @border-r*2-2px;
    }
}

.thumbnail:hover {
    img {
        opacity: 0.5;
    }
}

.thumbnail--active {
  border-width: 2px;
  img {
    opacity: 0.5;
  }
}

.gallery__buttons{
  display: none;
}

.lightbox {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-color: @black-lightbox;

  .gallery__main {
  max-width: 35%;
  }

  .gallery__thumbnails {
  max-width: 30%;
  }

  .lightbox__closeboard {
     width: 35%;
  }

  .lightbox__closebutton {
     float: right;
  }

  .gallery__buttons {
    display: flex;
    left: -5%;
    width: 110%;
  }

  .gallery__button {
    width: 48px;
    height: 48px;
  }

}

}