.cart__container {
    opacity: 0;
    position: absolute;
    top: -999%;
    background: white;
    width: 95%;
    right: 2.5%;
    height: 300px;
    border-radius: @border-r*2;
    box-shadow: 0px @mobile-space/2 @mobile-space @black-lightbox;
    transition: opacity 0.3s cubic-bezier(.46,.03,.52,.96);

    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.3fr 1.7fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "title"
      "items"; 

    h3 {
      margin: 16px;
      font-size: 1rem;
      grid-area: title;
    }

    
}
.cart__container--active {
    opacity: 1;
    top: 10%;
    z-index: 1;
}

.cart__items {
    grid-area: items;
    border-top: 1px @light-grayish-blue solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: @mobile-space;
    
}

.cart__empty {
    color: @dark-grayish-blue;
    font-weight: @font-b;
}

.cart__button{
    position: relative;
    :hover{
        cursor: pointer;
    }
}
.cart__item {
    color: @dark-grayish-blue;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.6fr 2fr 0.4fr; 
    grid-template-rows: 1fr 1fr; 
    gap: @mobile-space*0.5 @mobile-space; 
    grid-template-areas: 
      "img title delete"
      "img amount delete"; 
}

.item__image {
    grid-area: img;
    border-radius: @border-r;
}

.item__title {
    grid-area: title;
    align-self: end;
    font-weight: @font-s;
    font-size: 1rem;
}

.item__amount {
    grid-area: amount;
}

.item__delete {
    grid-area: delete;
    margin: auto;
}

.item__bold {
    color: @very-dark-blue;
    font-weight: @font-b;
    margin-left: @mobile-space*0.5;
}

.cart__checkout {
  width: 100%;
  height: 48px;
  background: @orange;
  color: @white;
  font-size: 1rem;
  font-weight: @font-b;
  border-radius: @border-r*2;
  text-transform: capitalize;
}

.cart__count {
  opacity: 0;
  position: absolute;
  top: -6px;
  left: 6px;
  background: @orange;
  width: 16px;
  font-size: 0.5rem;
  text-align: center;
  color: @white;
  font-weight: @font-b;
  border-radius: @border-r*6;
}

.cart__count--active {
    opacity: 1;
}


@media screen  and (min-width: @mobile-width){
   .cart__container {
      width: 25%;
      right: 5%;
    } 
    .cart__container--active {
        top: 15%;
    }
}