.menu__boardwrapper {
    top: 0;
    left: -100%;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: initial;
    transition: background-color 300ms cubic-bezier(.65,.05,.36,1); 

}

.menu__board{
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;

  transition: left 200ms cubic-bezier(.65,.05,.36,1);
    
    .nav{
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: @white;
        justify-content: flex-start;
        gap: 16px;
        padding: @mobile-space;

        .nav__link{
            color: @very-dark-blue;
            font-size: 1.2rem;
            font-weight: 700;
        }
    }
}

.menu__closeboard {
    display: block;
    grid-area: close;
    background: @white;
    padding: @mobile-space;
}


.menu__boardwrapper--open {
    left: 0;
    background-color: @black-lightbox;

    .menu__board{
        left: 0;
    }

}

@media screen and (min-width: @mobile-width) {
   .menu__button {
    display: none;
   }
}
