.cart__container {
    opacity: 0;
    position: absolute;
    top: -999%;
    right: 2.5%;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5);
    transition: opacity 0.3s cubic-bezier(.46,.03,.52,.96);
    width: 360px;
}

.cart__container--active {
    opacity: 1;
    top: 10%;
    z-index: 1;
}

.cart__title {
    font-weight: @font-b;
    margin: 0;
    padding: 24px;
    font-size: 16px;
}

.cart__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 24px;
    gap: @mobile-space;
    overflow: scroll;
    max-height: 360px;
    
}

.cart__empty {
    color: @dark-grayish-blue;
    font-weight: @font-b;
    padding: 60px; 
    text-align: center;
}

.cart__button{
    position: relative;
    :hover{
        cursor: pointer;
    }
}
.cart__item {
    color: @dark-grayish-blue;
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 16px;
}

.item__image {
    width: 50px;
    border-radius: @border-r;
}

.item__title {
    align-self: end;
    font-weight: @font-s;
    font-size: 1rem;
}

.item__delete {
    margin: auto;
}

.item__bold {
    color: @very-dark-blue;
    font-weight: @font-b;
    margin-left: @mobile-space*0.5;
}


.cart__checkout {
  width: 100%;
  height: 56px;
  background: @orange;
  font-size: 1rem;
  font-weight: @font-b;
  border-radius: 10px;
  text-transform: capitalize;
}

.cart__count {
  opacity: 0;
  position: absolute;
  left: 10px;
  top: -4px;
  background: @orange;
  width: 20px;
  font-size: 8px;
  height: 12px;
  text-align: center;
  color: @white;
  font-weight: @font-b;
  border-radius: @border-r*6;
}

.cart__count--active {
    opacity: 1;
}

.cart__content {
    border-top: 1px @divider-line solid;
    padding: 24px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

@media screen  and (min-width: @mobile-width){
    .cart__container--active {
        top: 90px;
        right: 90px;
    }
}